body {
	font-family: courier;
	color: darkblue;
	background-color: royalblue;
}


label {
	text-align: center;
}

form {
	background-color: rgba(117,233,240,0.75);
	text-align: center;
	border-radius: 10px;
	padding: 60px ;
	margin: 5%;
	width: 800px;
	margin-left: 320px;
}